.entry-summary, .entry-thumb{
	display: block;
	float: left;
	position: relative;
}
 
.entry-thumb img {
	padding: 0px 20px 20px 0px;
}

.entry-cats {
	margin-bottom: 3rem;
	display: block;
	width: 100%;
	float: none;
}

.entry-summary {
	margin-top: 0px;
}

.archive-header span {
	color: $color__medgray;
}

.search-title {
		color: $color__medgray;
}

.search-title span {

			color: $color__blue;
}

h2.entry-title {
	margin: 0px 0px 15px;
}

.entry-header h2.entry-title {
	margin: 0px 0px 0px;
}

.excerpt-date, .excerpt-date a {
	color: $color__gray;
}