.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.page-title {
  margin-bottom: 0px;
}

.pagination {
  margin: 50px 0;
}

div.pagination {
  text-align: center;
}

.pageMenuHeader {
  margin-bottom: 0.9em;
  font-size: 1em;
  font-style: italic !important;
}

.list-title {
  margin-bottom: 0px;
}

.cat-list {
  margin-bottom: 8rem;
  display: block;
  border-left: 8px solid $color__lightgray;
  padding-left: 1em;
}

/*--------------------------------------------------------------
## Analysis Landing
--------------------------------------------------------------*/

.analysis-landing {
  footer.entry-footer {
    display: none;
  }
  .cat-header {
    color: $color__gray;
    margin: 0px;
  }
  .catNums {
    color: $color__gray;
  }
  .cat-list ul,
  .cat-list li {
    list-style: none;
    padding-left: 0px;
    li {
      font-family: $font__main;
      font-size: 1.2rem;
      color: $color__blue;
    }
  }
  .cat-listing {
    article {
      margin-bottom: 0.7rem;
      line-height: 95%;
    }
    h2 {
      margin-top: 5rem;
    }
  }
}

/*--------------------------------------------------------------
## Databases
--------------------------------------------------------------*/

hr.databasehr {
  background-color: $color__blue;
  margin: 2em 0em 5em;
}

.tag-database {
  .entry-summary {
    display: grid;

    @media screen and (min-width: #{$breakpoint_tablet}) {
      grid-template-columns: auto auto;
    }

    h4 {
      margin: 0;
      font-family: $font__headings;
      font-size: 1.4em;
    }

    h5 {
      margin: 0 0 5px;
      font-family: $font__main;
      font-size: 1.1em;

      a {
        background-image: linear-gradient(to bottom, #ffc726 0, #ffc726 100%);
        background-position: 0 94%;
        background-repeat: repeat-x;
        background-size: 1px 0px;
        text-decoration: none;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-size: 1px 2px;
        }
      }
    }

    p {
      .read-more {
        font-family: $font__headings;
        white-space: nowrap;
        color: #c5c5c5;
        font-size: 1.2rem;
        text-transform: uppercase;
      }

      .read-more:hover {
        color: #ffc726;
      }

      &:first-of-type {
        .catMore {
          margin-top: 0;
          background-color: $color__yellow;

          &:hover {
            background-color: $color__darkYellow;
          }
        }
      }
    }

    img.wp-post-image {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: 50% 50%;

      @media screen and (min-width: #{$breakpoint_tablet}) {
        width: 248px;
        height: 248px;
      }
    }
  }
}

/*--------------------------------------------------------------
## Living History
--------------------------------------------------------------*/

.living-first {
  background-color: $color__lightgray;
  margin: 0 -15px 50px;
  padding: 1em;

  @media screen and (min-width: #{$breakpoint_tablet}) {
    margin: 0 0 50px;
    padding: 2em;
  }

  .entry-title {
    margin-bottom: 0px;
  }
  h3 {
    margin: 0px 0px 10px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: $color__medgray;
  }
}

.living-header {
  margin-top: 30px;
  .entry-title {
    margin-bottom: 0px;
  }
}

.living-subhead {
  font-weight: 500;
  margin: 0.5rem 0rem;
  color: $color__gray;
  font-style: italic;
  text-transform: uppercase;
}

.living-header-img {
  width: 100%;
  height: 300px;
  overflow-y: hidden;
  margin-top: 50px;
  img {
    width: 100%;
  }
}

/*--------------------------------------------------------------
## Imagery Landing
--------------------------------------------------------------*/

.imagery-title {
  padding-bottom: 10px;
}

/*--------------------------------------------------------------
## Image Maps
--------------------------------------------------------------*/
.image-maps {
  // margin-bottom: 1.5rem;
  
  &-header {
    display: flex;
    align-items: flex-start;
  }

  & .description {
    width: 60%;
    max-width: 680px;
  }
  & .credits {
    margin-left: 32px;
    width: 40%;
    max-width: 360px;
    font-weight: 350;
  }

  &-featured {
    display: flex;
    align-items: flex-start;
    background-color: $color__background-hr;
    margin-bottom: 50px;
  }

  .featured-title a {
      background-image: none;
  }
  
  .featured-img {
    width: 30%;
    max-width: 280px;
  }
  
  .featured-content {
    overflow-wrap: anywhere;
    padding: 40px;
    width: 70%;
    // max-width: 792px;

    h2.entry-title {
      margin-bottom: 0;
    }

    .followButton {
      margin-bottom: 11px;
    }

    .related{
      
      &-analysis {
        padding-top: 16px;

        .living-header {
          margin-top:0;
        }

        h3 {
          font-family: $font__main;
          font-size: 1.25rem;
          line-height: 100%;
          font-weight: normal;
        }

        .excerpt-date,
        .excerpt-date a {
          font-size: 1rem;
          line-height: 130%;
        }
      }

      &-heading {
        color: $color__blue;
        text-transform: uppercase;
        letter-spacing: .04em;
        font-size: 1.18rem;
        line-height: 1.43rem;
      }

    }
  }

  h3 {
    margin: 0px 0px 10px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: $color__medgray;
  }

  .table-container {
    width: 100%;
    @media screen and (max-width: #{$breakpoint_mobile}) {
      overflow-x:auto;
    }

    h2 {
      font-size: 1.8125rem;
      line-height: 1.15;
    }

    h2.entry-title {
      margin-bottom: .5rem;
    }

    .related-heading {
      margin: 0;
      margin-top: 8;
    }

    .living-header {
      margin: 0;
    }

    h3.related-heading {
      font-size: 1.1875rem;
      line-height: 1.4375rem;
      letter-spacing: .04em;
      color: $color__black-065;
      text-transform: uppercase;
    }

    h3.featured-title {
      font-size: 1.125rem;
      line-height: 1;
    }

    span.excerpt-date {
      font-size: 1rem;
      line-height: 1.3;
      font-weight: normal;
    }
  }

  .select-filter {
    margin-bottom: 1.125rem;

    label,
    select {
      color: $color__dark-bg;
      font-family: $font__main;
      font-size: 1.125rem;
      line-height: 1;
      font-style: normal;
      font-weight: normal;
    }
    
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 5px;
      border: none;
      border-bottom: 1px solid #00000025;
      border-radius: 2px;
      padding: .625rem;
      padding-right: 1.2rem;
    }
  }
}



/*--------------------------------------------------------------
## Signals Page
--------------------------------------------------------------*/

.signalsTitle {
  margin-bottom: 10px;
  background-color: transparent !important;
  padding-left: 0 !important;
}

/*--------------------------------------------------------------
## Impossible State Podcast Page
--------------------------------------------------------------*/

.impossibleState {
  height: 30rem;
  overflow-y: hidden;
  color: inherit;
  // text-align: center;
  position: relative;
  img {
    position: absolute;
    top: -95px;
    min-height: auto;
    min-width: 100%;
  }
}

@media screen and (max-width: #{$breakpoint_tablet}) {
  .impossibleState {
    height: 20rem;
    img {
      top: -70px;
      min-height: auto;
    }
  }
}

@media screen and (max-width: #{$breakpoint_mobile}) {
  .impossibleState {
    height: 10rem;
    img {
      top: -20px;
      min-height: auto;
    }
  }
}

/*===== Vertical Timeline =====*/

#conference-timeline {
  padding: 35px;
  position: relative;
  max-width: 920px;
  width: 100%;
  margin: 70px auto;
  background-color: #131a28;
}

#conference-timeline .timeline-start,
#conference-timeline .timeline-end {
  display: table;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 15px 23px;
  color: #fff;
  max-width: 5%;
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

#conference-timeline .conference-center-line {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: #fff;
  z-index: 0;
}

#conference-timeline .conference-timeline-content {
  padding-top: 67px;
  padding-bottom: 67px;
}

.timeline-article {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}

.timeline-article .content-left-container,
.timeline-article .content-right-container {
  max-width: 44%;
  width: 100%;
}

.timeline-article .timeline-author {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #242424;
  text-align: right;
}

.timeline-article .content-left,
.timeline-article .content-right {
  position: relative;
  width: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
  padding: 27px 25px;
}

.timeline-title {
  font-size: 18px !important;
  margin-bottom: 21px !important;
  font-weight: bold !important;
  padding-top: 15px !important;
  font-family: museo !important;
  text-align: left !important;
  color: #ffffff !important;
}

.timeline-article p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #242424;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  font-family: futura;
}

.btn-primary {
  color: #ffffff;
  font-size: 11px;
  margin-top: 15px;
  text-transform: uppercase;
  background-color: #0f2a48;
  font-family: "museo-sans", sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  padding-top: 3;
  margin-left: 20px;
  padding-left: 9px;
  padding-right: 9px;
}

.timeline-article p span.article-number {
  position: absolute;
  font-weight: 300;
  font-size: 44px;
  top: 10px;
  left: -60px;
  color: #00b0bd;
}

.timeline-article .content-left-container {
  float: left;
}

.timeline-article .content-right-container {
  float: right;
}

.timeline-article .content-left:before,
.timeline-article .content-right:before {
  position: absolute;
  top: 20px;
  font-size: 23px;
  font-family: "FontAwesome";
  color: #fff;
}

.timeline-article .content-left:before {
  content: "\f0da";
  right: -8px;
}

.timeline-article .content-right:before {
  content: "\f0d9";
  left: -8px;
}

.timeline-article .meta-dateTerror {
  position: absolute;
  top: 0;
  left: 50%;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  color: #fff;
  background: url("/wp-content/uploads/2016/04/terror-circle.png");
  background-size: cover;
}

.timeline-content {
  font-weight: 100 !important;
  font-size: 16px !important;
  font-family: "museo-sans", sans-serif !important;
  text-align: left !important;
}

.timeline-dateTerror {
  color: #faaf40 !important;
  font-family: "museo-sans", sans-serif !important;
  font-weight: 300 !important;
  font-size: 23px !important;
  text-transform: uppercase;
}

.timeline-dateOther {
  color: #92278f !important;
  font-family: "museo-sans", sans-serif !important;
  font-weight: 300 !important;
  font-size: 23px !important;
  text-transform: uppercase;
}

.timeline-dateBallistic {
  color: #83d4ef !important;
  font-family: "museo-sans", sans-serif !important;
  font-weight: 300 !important;
  font-size: 23px !important;
  text-transform: uppercase;
}

.timeline-dateNuke {
  color: #be1e2d !important;
  font-family: "museo-sans", sans-serif !important;
  font-weight: 300 !important;
  font-size: 23px !important;
  text-transform: uppercase;
}

.timeline-dateExer {
  color: #fff !important;
  font-family: "museo-sans", sans-serif !important;
  font-weight: 300 !important;
  font-size: 23px !important;
  text-transform: uppercase;
}

.readmore {
  color: #7b194f !important;
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 10px !important;
  font-family: "museo-sans", sans-serif;
}

.timeline-article .meta-dateOther {
  position: absolute;
  top: 0;
  left: 50%;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  color: #fff;
  background: url("/wp-content/uploads/2016/06/BP_icon_only_other-e1465242234393.png");
  background-size: cover;
}

.timeline-article .meta-dateNuke {
  position: absolute;
  top: 0;
  left: 50%;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  color: #fff;
  background: url("/wp-content/uploads/2016/06/BP_icon_only_ballistic-e1465241552757.png");
  background-size: cover;
}

.timeline-article .meta-dateBallistic {
  position: absolute;
  top: 0;
  left: 50%;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  color: #fff;
  background: url("/wp-content/uploads/2016/06/BP_icon_only_ballistic-2.png");
  background-size: cover;
}

.timeline-article .meta-date {
  position: absolute;
  top: 0;
  left: 50%;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  color: #fff;
  background: url("/wp-content/uploads/2016/04/exercises_circle.png");
  background-size: cover;
}

.timeline-article .meta-date .date,
.timeline-article .meta-date .month {
  display: block;
  text-align: center;
  font-weight: 900;
}

.timeline-article .meta-date .date {
  font-size: 30px;
  line-height: 40px;
}

.timeline-article .meta-date .month {
  font-size: 18px;
  line-height: 10px;
}

/*===== // Vertical Timeline =====*/

/*===== Resonsive Vertical Timeline =====*/

@media only screen and (max-width: 830px) {
  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    margin: 0;
  }
  #conference-timeline .conference-center-line {
    display: none;
  }
  .timeline-article .meta-date {
    margin-left: 0;
    left: 20px;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    float: none;
    min-height: 53px;
  }
  .timeline-article .content-left-container {
    margin-bottom: 0px;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    padding: 10px 25px;
    min-height: 65px;
  }
  .attachment-post-thumbnail {
    height: auto !important;
  }
  .timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
  .timeline-article .content-right:before {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .timeline-article p {
    margin: 0;
  }
  .timeline-article p span.article-number {
    display: none;
  }
}

/*===== // Responsive Vertical Timeline =====*/

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  &::after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
  }
}
