@media print {
    header.site-header,
    #toggle,
    footer.site-footer,
    .share-print-wrapper {
        display: none;
    }
    .postTop img.wp-post-image, .postTop {
        display: none;
        overflow: hidden;
        width: 0;
        height: 0px;
    }
    a[href^="http://"]:after {
        display: none;
    }
    p a[href^="http://"]:after {
        display: none;
    }

    .post-meta {
    	margin-bottom: 30px;
    }
}
